body {
  background-color: rgb(18, 129, 194);
}

main {
  margin-left: 380px;
  justify-content: space-evenly;
}

ul {
  margin-top: 80px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40pt;
}

nav {
  width: 1920px;
  display: flex;
  justify-content: space-around;
  padding-bottom: 30px;
  padding-top: 40px;
  margin: auto;
}

table {
  border: 3px;
  border-style: solid;
  border-color: white;
}

th {
  border: 1px;
  border-style: solid;
  min-width: 75px;
  background-color: aqua;
  border-color: white;
}

td {
  background-color: aquamarine;
  border: 1px;
  border-style: solid;
  text-align: center;
  border-color: white;
}

form {
  /* margin-top: 800px; */
  border: 3px solid rgb(173, 18, 18);
  padding: 20px;
  margin: 2rem 30% 0;
  margin-bottom: 20px;
}


input {
  display: block;
  margin-bottom: 25px;
}

select {
  display: block;
  margin-bottom: 25px;
}