body {
  background-color: rgb(51, 95, 177);
}

a {
  color: rgb(51, 95, 177);
}

nav {
  background-color: rgb(240, 198, 84);
  display: flex;
  padding-top: 2vh;
  padding-left: 20vh;
}

.title {
  text-align: center;
  margin-left: 43vh;
  padding-bottom: 2vh;
}

nav ul {
  display: flex;
}

nav ul li {
  text-align: center;
  font-size: 1.5vw;
  justify-content: space-evenly;
  margin-left: 18vh;
  padding-bottom: 2vh;
}

#patsTitle {
  display: flex;
  font-family: 'Praise', cursive;
  text-align: center;
  font-size: 5vw;
  color: rgb(232, 70, 0);
  margin-top: 2vh;
}

#patsSubHead {
  font-family: 'Praise', cursive;
  font-size: 2.9vw;
  color: rgb(17, 72, 112);
  margin-top: 2vh;
}

main {
  margin-top: 5vh;
  display: flex;
  justify-content: space-between;
}

ul {
  padding-top: 3vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4vw;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border: .3vh;
  border-style: solid;
  border-color: rgb(232, 70, 0);
  margin-right: 7vh;
}

th {
  border: .001vw;
  border-style: solid;
  min-width: 7vh;
  background-color: rgb(240, 198, 84);
  border-color: rgb(17, 72, 112);
  color: rgb(17, 72, 112);
  padding: .2vw;
  font-size: .9vw;
}

td {
  background-color: rgb(76, 113, 140);
  color: antiquewhite;
  border: .001vh;
  border-style: solid;
  text-align: center;
  border-color: rgb(17, 72, 112);
  padding: .6vh;
  font-size: .8vw;
}

form {
  margin-top: 7vh;
  border: .3vh;
  border-style: groove;
  border-color: rgb(240, 198, 84);
  background-color: rgb(76, 113, 140);
  color: antiquewhite;
  padding: 3vh;
  width: 22vh;
  margin-left: 9vh;
  font-size: .8vw;
  font-family: Arial, Helvetica, sans-serif;
}

legend {
  margin-bottom: 3vh;
  font-size: 1.2vw;
  margin-left: 2vh;
}

fieldset {
  max-width: 40vh;
}

input {
  display: block;
  margin-bottom: 2.5vh;
  background-color: rgb(17, 72, 112);
  margin-top: 1vh;
  color: antiquewhite;
  width: 17.5vh;
  margin-left: 2vh;
}

select {
  display: block;
  margin-bottom: 2.5vh;
}

button {
  padding: 1.3vh;
  min-width: 19vh;
  margin-left: 2vh;
  background-color: rgb(232, 70, 0);
  border-color: rgb(17, 72, 112);
  color: rgb(17, 72, 112);
}