a { 
 color: rgb(51, 95, 177);
}

header {
  text-align: center;
  background-color: rgb(240, 198, 84);
}


nav {
  display: flex;
  padding-bottom: 4vh;
  align-items: center;
margin-left: 32vh;
}

.salmonBanner {
  display: flex;
  justify-content: space-evenly;
  height: 28vh;
  width: 120vh;
}

.title {
  text-align: center;
  margin-left: 40vh;
}

nav ul li {
  text-align: center;
  font-size: 1.5vw;
  justify-content: space-evenly;
  margin-top: 3vh;
  margin-left: 10vh ;
}

.locationImage{
  width: 30vh;
  max-height: 20vh;
}

body {
  background-color: rgb(51, 95, 177);
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: flexbox;
}

ul {
  display: flex
}

li {
  justify-content: space-around;
}

img {
  max-height: 28vh;
  margin-right: 5vh;
  margin-left: 5vh;
  margin-top: 4vh;
}

footer {
  background-color: rgb(2, 27, 59);
  height: 6vh;
}

.adress {
  font-family: 'Times New Roman', Times, serif;
  color: rgb(191, 203, 216);
  text-align: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
  font-size: 1.2vw;
  margin-bottom: 1.5vh;
}

.locations {
  color: rgb(204, 222, 242);
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 3vw;
  margin-top: 10vh;
}

.aboutus {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin-left: 4vh;
  padding-bottom: 2vh;
}

#boarderSalmonMid {
  display: flex;
  max-height: 20vh;
  margin-bottom: 1vh;
  margin-left: 2vh;
}

#fish{
  margin-left: 5vh;
}


.aboutp {
  border-width: .2vw;
  border-style: solid;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(184, 201, 221);
  background-color: rgb(17, 54, 98);
  font-size: 1.2vw;
  margin-top: 4vh;
  margin-left: 1vh;
  width: 82vh;
  overflow: auto;
  margin-bottom: 10vh;
  max-height: 30vh;
}

#ParaG {
  margin-left: 59vh;
}

.hours {
  text-align: center;
  color: rgb(204, 222, 242);
  font-family: 'Times New Roman', Times, serif;
  font-size: 2vw;
  margin-top: 2vh;
}

.abouttitle {
  margin-top: 18vh;
  font-family: 'Praise', cursive;
  text-align: center;
  font-size: 5vw;
  color: rgb(204, 222, 242);
} 

.aboutTitlePosit1ion {
  margin-left: 50vh;
}

#theFamily {
  display: flex;
  margin-top: 10vh;
  margin-left: 9vh;
}

#cutter {
  margin-left: 42vh;
}

#patsTitle {
  display: flex;
  font-family: 'Praise', cursive;
  text-align: center;
  font-size: 4.3vw;
  color: rgb(232, 70, 0);
  margin-top: 4vh;
}

#patsSubHead {
  font-family: 'Praise', cursive;
  font-size: 7vh;
  color: rgb(17, 72, 112);
  margin-top: 2vh;
}

#footNotes{
  display: flex;
  font-size: 1vw;
  justify-content: space-evenly;
}

#footR{
  margin-top: 2vh;
}

#familyPic {
  height: 30vh;
}
